// Primary Colors
$clr-primary-400: hsl(317, 100%, 74%);
$clr-primary-700: hsl(267, 66%, 60%);

// accent Colors
$clr-accent-400: hsl(165, 56%, 74%);
$clr-accent-700: hsl(165, 100%, 26%);

// Background Colors
$clr-bg-100: hsl(0, 0%, 95%);
$clr-bg-400: hsl(0, 0%, 92%);
$clr-bg-700: hsl(0, 0%, 21%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Font-families
$ff-main: "Roboto", sans-serif;
$ff-logo: "Shrikhand", cursive;

// Font-weight
$fw-100: 100;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// sizes
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-32: 2rem;
